Repository WordPress/wordcamp.org, pull requests merged in 2019-11, with the labels that each got.

#256 Blocks: Live Schedule: Decode html entities before displaying on schedule
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/components/session.js
Labels: [Component] Blocks, [Status] Needs Review

#263 Blocks: Update packages
  public_html/wp-content/mu-plugins/blocks/blocks.php
  public_html/wp-content/mu-plugins/blocks/package-lock.json
  public_html/wp-content/mu-plugins/blocks/package.json
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/components/session.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/controller.php
  public_html/wp-content/mu-plugins/blocks/source/components/item/tests/index.test.js
  public_html/wp-content/mu-plugins/blocks/source/hooks/latest-posts/controller.php
Labels: [Component] Blocks, [Component] Tooling

#266 Enhancement: Add help text to WordCamp Info Twitter form fields (#264)
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-admin.php
Labels: [Status] Needs Review

#285 QuickBooks: OAuth2 authentication flow
  .docker/wp-config.php
  composer.json
  composer.lock
  public_html/wp-content/mu-plugins/load-other-mu-plugins.php
  public_html/wp-content/mu-plugins/quickbooks/includes/admin.php
  public_html/wp-content/mu-plugins/quickbooks/includes/client.php
  public_html/wp-content/mu-plugins/quickbooks/quickbooks.php
  public_html/wp-content/mu-plugins/quickbooks/views/admin-form-error.php
  public_html/wp-content/mu-plugins/quickbooks/views/admin.php
Labels: [Component] Quickbooks, [Status] In Progress

#194 Add github issue and PR templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/support-request.md
  .github/pull_request_template.md
  readme.md
Labels: [Component] Tooling, [Status] In Progress
