Repository WordPress/wordcamp.org, pull requests merged in 2019-09, with the labels that each got.

#225 Tooling: Changes to composer and docker
  .docker/Dockerfile.php-fpm
  .docker/bin/entrypoint.sh
  .docker/bin/extra-setup.sh
  .docker/bin/start.sh
  .docker/config/composer.json
  .docker/config/msmtprc
  .docker/readme.md
  composer.json
  composer.lock
  docker-compose.yaml
Labels: [Component] Tooling, [Status] Needs Review

#221 Dashboard Widgets: Add link to blocks announcement post
  public_html/wp-content/plugins/wordcamp-dashboard-widgets/wordcamp-dashboard-widgets.php
Labels: [Status] Ready to Merge

#229 Fonts: Support Font Awesome kits
  public_html/wp-content/plugins/wc-fonts/wc-fonts.php
Labels: [Component] Fonts, [Status] Ready to Merge

#230 Payments: Convert amount into zero-decimal format for Stripe
  public_html/wp-content/mu-plugins/utilities/class-stripe-client.php
  public_html/wp-content/plugins/wordcamp-payments/includes/sponsor-payment-stripe.php
  public_html/wp-content/plugins/wordcamp-payments/views/sponsor-payment/main.php
Labels: [Component] Payments, [Status] Ready to Merge

#224 Use CLDR for country code and name data
  .docker/config/composer.json
  .gitignore
  public_html/wp-content/mu-plugins/3-helpers-misc.php
  public_html/wp-content/mu-plugins/wcorg-network-plugin-control.php
  public_html/wp-content/plugins/multi-event-sponsors/classes/mes-sponsor.php
  public_html/wp-content/plugins/multi-event-sponsors/views/metabox-contact-information.php
  public_html/wp-content/plugins/wc-post-types/views/sponsors/metabox-sponsor-info.php
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
  public_html/wp-content/plugins/wordcamp-payments/includes/payment-request.php
  public_html/wp-content/plugins/wordcamp-payments/includes/reimbursement-request.php
  public_html/wp-content/plugins/wordcamp-payments/includes/wordcamp-budgets.php
  public_html/wp-content/plugins/wordcamp-qbo-client/wordcamp-qbo-client.php
Labels: [Component] Payments, [Component] WC-Post-Types

#236 Blocks: Allow `noscript` tags in block output
  public_html/wp-content/mu-plugins/jetpack-tweaks/miscellaneous.php
Labels: [Component] Blocks, [Status] Ready to Merge

#240 Schedule: Fix session track labels on small screens
  public_html/wp-content/plugins/wc-post-types/css/shortcodes.css
Labels: [Component] WC-Post-Types

#223 PWA: Update Offline template
  public_html/wp-content/mu-plugins/4-helpers-wcpt.php
  public_html/wp-content/mu-plugins/theme-templates/bootstrap.php
  public_html/wp-content/mu-plugins/theme-templates/templates/offline.php
  public_html/wp-content/plugins/wcpt/stubs/page/offline.php
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-new-site.php
Labels: [Component] PWA, [Component] Theme Templates, [Status] Ready to Merge
