Repository WordPress/wordcamp.org, pull requests merged in 2019-07, with the labels that each got.

#142 Docker: Update the test dB, and add useful database operations for maintaining it
  .docker/Dockerfile.php-fpm
  .docker/bin/database.sh
  .docker/data/wordcamp_dev.sql
  .docker/readme.md
  .docker/wp-config.php
  .gitignore
  docker-compose.yaml
Labels: [Type] Enhancement

#139 Git: Ignore the `node_modules` directory
  .gitignore
Labels: [Component] Tooling

#150 JS Code Standards: Enforce a line-length of 115 characters
  public_html/wp-content/mu-plugins/blocks/.eslintrc.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/featured-image.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/data/index.js
Labels: [Component] Tooling, [Status] Needs Review

#140 Blocks: Remove PanelRow wrapper from single-item controls
  public_html/wp-content/mu-plugins/blocks/build/blocks.min.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/inspector-controls.js
Labels: [Component] Blocks

#154 Blocks: Increase contrast of group names in dropdowns
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/style.scss
Labels: [Component] Blocks

#157 Blocks: Use `@wordpress/scripts` for builds
  public_html/wp-content/mu-plugins/blocks/.stylelintrc
  public_html/wp-content/mu-plugins/blocks/babel.config.js
  public_html/wp-content/mu-plugins/blocks/blocks.php
  public_html/wp-content/mu-plugins/blocks/package-lock.json
  public_html/wp-content/mu-plugins/blocks/package.json
  public_html/wp-content/mu-plugins/blocks/source/blocks.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-content/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-controls/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/avatar.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/featured-image.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls.scss
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/option.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/style.scss
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/style.scss
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/toolbar.js
  public_html/wp-content/mu-plugins/blocks/source/data/index.js
  public_html/wp-content/mu-plugins/blocks/source/i18n/index.js
  public_html/wp-content/mu-plugins/blocks/webpack.config.js
Labels: [Component] Blocks, [Component] Tooling

#158 Blocks: Update react-select package
  public_html/wp-content/mu-plugins/blocks/package-lock.json
  public_html/wp-content/mu-plugins/blocks/package.json
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/index.js
Labels: [Component] Blocks, [Status] Needs Review

#163 Blocks: Clean up the "add more" UI when some content is selected
  public_html/wp-content/mu-plugins/blocks/source/_z-index.scss
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-controls/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-controls/style.scss
Labels: [Component] Blocks, [Status] Ready to Merge

#172 Post Types: Fix escaping of HTML elements for speaker name links
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
Labels: [Component] WC-Post-Types, [Status] Ready to Merge

#173 Post Types: Allow any speaker to be attached to a session
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
Labels: [Component] WC-Post-Types, [Status] Ready to Merge

#174 Blocks: Update selected items to match design
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/option.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/style.scss
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/utils.js
Labels: [Component] Blocks, [Status] Ready to Merge

#175 Blocks: Match sessions output to mockup
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/style.scss
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/view.php
Labels: [Component] Blocks, [Status] Ready to Merge

#182 Blocks: Add groups icons back to Organizer teams
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/content-select.js
Labels: [Component] Blocks, [Status] Ready to Merge

#177 Blocks: Increase avatars to 50px
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/option.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/style.scss
Labels: [Component] Blocks, [Status] Ready to Merge

#176 Blocks: Match speakers output to mockups
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/block-content.scss
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/style.scss
Labels: [Component] Blocks, [Status] Ready to Merge

#178 Blocks: Add session details to the dropdown
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/utils.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/option.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/style.scss
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/utils.js
Labels: [Component] Blocks, [Status] Ready to Merge

#181 Docker: Allow more file types to be loaded from theme or plugin directories
  .docker/config/nginx.conf
Labels: [Component] Tooling, [Status] Ready to Merge

#168 Blocks: Splitting post-list InspectorControls components
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/toolbar.js
Labels: [Component] Blocks, [Status] Ready to Merge

#169 Blocks: Splitting image InspectorControls components
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls/image-alignment-control.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls/image-size-control.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls/style.scss
Labels: [Component] Blocks, [Status] Ready to Merge

#170 Blocks: Splitting block-content components
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-content/controller.php
  public_html/wp-content/mu-plugins/blocks/source/components/block-content/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-content/item-content.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-content/item-permalink.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-content/item-title.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-content/style.scss
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/no-content.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/style.scss
Labels: [Component] Blocks, [Status] Ready to Merge

#165 Blocks: Remove eslint overrides for declaration spacing.
  public_html/wp-content/mu-plugins/blocks/.eslintrc.js
  public_html/wp-content/mu-plugins/blocks/source/blocks.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/block-content.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/content-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-content/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/avatar.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/featured-image.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/utils.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/toolbar.js
  public_html/wp-content/mu-plugins/blocks/source/data/index.js
  public_html/wp-content/mu-plugins/blocks/webpack.config.js
Labels: [Component] Blocks, [Component] Tooling, [Status] Needs Review
