Repository WordPress/wordcamp.org, pull requests merged in 2019-08, with the labels that each got.

#167 Blocks: Update folder structure and component names, bring code up to new style standards.
  public_html/wp-content/mu-plugins/blocks/.eslintrc.js
  public_html/wp-content/mu-plugins/blocks/blocks.php
  public_html/wp-content/mu-plugins/blocks/package-lock.json
  public_html/wp-content/mu-plugins/blocks/package.json
  public_html/wp-content/mu-plugins/blocks/source/README.md
  public_html/wp-content/mu-plugins/blocks/source/_z-index.scss
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/organizer-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/organizer-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/session-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/session-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/utils.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/speaker-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/speaker-select.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/block-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/sponsor-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/sponsor-select.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-content/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/block-content/style.scss
  public_html/wp-content/mu-plugins/blocks/source/components/edit-appender/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/edit-appender/style.scss
  public_html/wp-content/mu-plugins/blocks/source/components/grid-inspector-panel/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/avatar.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/featured-image.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls/image-alignment-control.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls/image-size-control.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls/style.scss
  public_html/wp-content/mu-plugins/blocks/source/components/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/item/controller.php
  public_html/wp-content/mu-plugins/blocks/source/components/item/dangerous-item-html-content.js
  public_html/wp-content/mu-plugins/blocks/source/components/item/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/item/item-permalink.js
  public_html/wp-content/mu-plugins/blocks/source/components/item/item-title.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/no-content.js
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/style.scss
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/toolbar.js
  public_html/wp-content/mu-plugins/blocks/source/data/index.js
Labels: [Component] Blocks, [Component] Tooling, [Status] Ready to Merge

#185 Tools: Update how linting runs on travis
  .nvmrc
  .travis.yml
  composer.json
  composer.lock
Labels: [Component] Tooling, [Status] Ready to Merge

#166 Blocks: Add eslint rule to sort multiple member imports.
  public_html/wp-content/mu-plugins/blocks/.eslintrc.js
Labels: [Component] Blocks, [Component] Tooling, [Status] Ready to Merge

#188 Blocks: Update toggle help text to reflect current state.
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls/index.js
Labels: [Component] Blocks, [Status] Ready to Merge

#189 Blocks: Remove the item permalink when showing full content
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/session-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/view.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/speaker-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/view.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/sponsor-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/view.php
Labels: [Component] Blocks, [Status] Ready to Merge

#187 Blocks: Add a setting for name/title alignment
  public_html/wp-content/mu-plugins/blocks/includes/definitions.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/controller.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/organizer-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/view.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/controller.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/session-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/view.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/controller.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/speaker-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/view.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/controller.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/sponsor-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/view.php
  public_html/wp-content/mu-plugins/blocks/source/components/item/controller.php
  public_html/wp-content/mu-plugins/blocks/source/components/item/item-title.js
Labels: [Component] Blocks, [Status] Ready to Merge

#193 Blocks: Set the fallback sort order for sessions
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/session-list.js
Labels: [Component] Blocks, [Status] Ready to Merge

#209 Meetup Client: Refactor to stop using v2 API endpoints
  public_html/wp-content/mu-plugins/utilities/class-meetup-client.php
  public_html/wp-content/plugins/wordcamp-reports/classes/report/class-meetup-events.php
  public_html/wp-content/plugins/wordcamp-reports/views/html/meetup-events.php
Labels: [Component] Reports

#211 Blocks: Add jest infrastructure for component testing
  public_html/wp-content/mu-plugins/blocks/package-lock.json
  public_html/wp-content/mu-plugins/blocks/package.json
  public_html/wp-content/mu-plugins/blocks/readme.md
  public_html/wp-content/mu-plugins/blocks/source/components/item/tests/__snapshots__/index.test.js.snap
  public_html/wp-content/mu-plugins/blocks/source/components/item/tests/index.test.js
Labels: [Component] Blocks, [Component] Tooling, [Status] Ready to Merge

#208 PWA: Remove comments that have been moved to github
  public_html/wp-content/mu-plugins/service-worker-caching.php
  public_html/wp-content/mu-plugins/theme-templates/bootstrap.php
  public_html/wp-content/mu-plugins/theme-templates/parts/dates.php
  public_html/wp-content/mu-plugins/theme-templates/parts/location.php
  public_html/wp-content/mu-plugins/theme-templates/templates/day-of-event/day-of-event.css
  public_html/wp-content/mu-plugins/theme-templates/templates/day-of-event/day-of-event.php
  public_html/wp-content/mu-plugins/theme-templates/templates/day-of-event/src/api.js
  public_html/wp-content/mu-plugins/theme-templates/templates/offline.php
Labels: [Component] PWA, [Component] Theme Templates, [Status] Ready to Merge

#213 Blocks: Load blocks on all sites
  public_html/wp-content/mu-plugins/blocks/source/blocks.js
  public_html/wp-content/mu-plugins/load-other-mu-plugins.php
Labels: [Component] Blocks, [Status] Ready to Merge

#215 WCPT & Blocks: Update stub content to use WordCamp blocks
  public_html/wp-content/plugins/wcpt/stubs/page/organizers.php
  public_html/wp-content/plugins/wcpt/stubs/page/sessions.php
  public_html/wp-content/plugins/wcpt/stubs/page/speakers.php
  public_html/wp-content/plugins/wcpt/stubs/page/sponsors.php
Labels: [Component] Blocks, [Status] Ready to Merge

#214 WC Post Types: "Deprecate" speaker, session, sponsor, organizer shortcodes
  public_html/wp-content/plugins/wc-post-types/inc/deprecated.php
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
Labels: [Component] Blocks, [Component] WC-Post-Types, [Status] Ready to Merge

#216 WC Shortcodes: Update link detection to find block content
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
Labels: [Component] Blocks, [Status] Ready to Merge

#218 Blocks: Remove unnecessary API request
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/edit.js
Labels: [Component] Blocks, [Status] Ready to Merge

#212 PWA: Cache custom & remote CSS
  public_html/wp-content/mu-plugins/service-worker-caching.php
  public_html/wp-content/mu-plugins/theme-templates/bootstrap.php
Labels: [Component] PWA, [Status] Ready to Merge
