Repository WordPress/wordcamp.org, pull requests merged in 2019-12, with the labels that each got.

#274 Packages: Set up yarn workspaces for sub-projects
  .docker/readme.md
  .travis.yml
  package.json
  public_html/wp-content/mu-plugins/blocks/package-lock.json
  public_html/wp-content/mu-plugins/blocks/package.json
  public_html/wp-content/mu-plugins/blocks/readme.md
  yarn.lock
Labels: [Component] Tooling, [Status] Ready to Merge

#291 Payments: Add "uncollectible" status for sponsor invoices
  public_html/wp-content/plugins/wordcamp-payments-network/includes/sponsor-invoices-dashboard.php
  public_html/wp-content/plugins/wordcamp-payments/includes/sponsor-invoice.php
  public_html/wp-content/plugins/wordcamp-payments/views/sponsor-invoice/metabox-status.php
Labels: [Component] Payments, [Status] Ready to Merge

#292 QBO: Refactor to use OAuth2 token for REST request authentication
  public_html/wp-content/mu-plugins/quickbooks/includes/admin.php
  public_html/wp-content/mu-plugins/quickbooks/includes/client.php
  public_html/wp-content/mu-plugins/quickbooks/quickbooks.php
  public_html/wp-content/mu-plugins/utilities/class-qbo-client.php
  public_html/wp-content/plugins/wordcamp-qbo/wordcamp-qbo.php
  public_html/wp-content/plugins/wordcamp-reports/classes/report/class-sponsor-invoices.php
Labels: [Component] Quickbooks, [Status] Ready to Merge

#298 Payments: Send a receipt to the sponsor after paying an invoice
  public_html/wp-content/plugins/wordcamp-payments/includes/sponsor-payment-stripe.php
Labels: [Component] Payments, [Status] Ready to Merge

#146 Invoices: Respect new lines in the Customer Address
  public_html/wp-content/plugins/camptix-invoices/includes/views/invoice-template.php
Labels: [Component] CampTix

#145 Invoices: Remove the unused Terms and Conditions field.
  public_html/wp-content/plugins/camptix-invoices/includes/class-camptix-addon-invoices.php
Labels: [Component] CampTix
