Repository WordPress/wordcamp.org, pull requests merged in 2020-04, with the labels that each got.

#412 Speaker Feedback: Add check for whether a session is currently accepting feedback
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-rest-feedback-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/form.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/post.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-class-rest-feedback-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-post.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-spam.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-not-available.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#369 Speaker Feedback: Submit feedback form to API
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/script.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/_variables.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment-meta.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/form.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/package.json
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#415 Blocks: Fix overeager sanitization
  public_html/wp-content/mu-plugins/blocks/includes/content.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/view.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/view.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/view.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/view.php
  public_html/wp-content/mu-plugins/blocks/source/components/image/controller.php
  public_html/wp-content/mu-plugins/blocks/source/components/item/controller.php
  public_html/wp-content/mu-plugins/blocks/source/components/post-list/controller.php
  public_html/wp-content/mu-plugins/jetpack-tweaks/miscellaneous.php
Labels: [Component] Blocks, [Status] Ready to Merge

#419 Gutenberg Tweaks: Add filter to restrict supported editors by post type
  public_html/wp-content/mu-plugins/gutenberg-tweaks.php
Labels: [Component] WC-Post-Types, [Component] WCPT, [Status] Ready to Merge

#417 Tools: Try using `phpcs-changed` to limit php linting to changed lines
  .github/bin/phpcs-branch.php
  .travis.yml
  composer.json
  composer.lock
  phpcs.xml.dist
Labels: [Component] Tooling, [Status] Ready to Merge

#421 Speaker Feedback: Fix capability checks
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/capabilities.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/post.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-capabilities.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-post.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#426 Tools: Use composer's phpunit to run tests on travis
  .github/bin/phpcs-branch.php
  .travis.yml
Labels: [Component] Tooling

#420 Speaker Feedback: Add REST endpoint for updating feedback with specific meta values
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-rest-feedback-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment-meta.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-class-rest-feedback-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-comment-meta.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#427 Tools: Adjust phpcs-branch to use accurate data for phpcs-changed
  .github/bin/phpcs-branch.php
Labels: [Component] Tooling, [Status] Needs Review

#424 Speaker Feedback: Add feedback rendering helper functions
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-feedback-list-table.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#423 Organizer Reminders: Add placeholder to output link to session feedback
  public_html/wp-content/plugins/wordcamp-organizer-reminders/tests/bootstrap.php
  public_html/wp-content/plugins/wordcamp-organizer-reminders/views/metabox-placeholders.php
  public_html/wp-content/plugins/wordcamp-organizer-reminders/wcor-mailer.php
Labels: [Component] Organizer Reminders, [Component] Speaker Feedback, [Status] Needs Review

#429 Speaker Feedback: Remove the session author from getting session comment notifications
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/admin.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#428 Speaker Feedback: Display feedback to session speakers
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/script.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-walker-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/view-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#303 Sessions: Gutenberg-ify Session Info & Speakers metaboxes
  package.json
  public_html/wp-content/mu-plugins/gutenberg-tweaks.php
  public_html/wp-content/plugins/wc-post-types/.prettierrc.js
  public_html/wp-content/plugins/wc-post-types/css/editor.css
  public_html/wp-content/plugins/wc-post-types/inc/rest-api.php
  public_html/wp-content/plugins/wc-post-types/js/favourite-sessions.js
  public_html/wp-content/plugins/wc-post-types/js/order-sponsor-levels.js
  public_html/wp-content/plugins/wc-post-types/js/src/session/index.js
  public_html/wp-content/plugins/wc-post-types/js/src/session/panel-info/date.js
  public_html/wp-content/plugins/wc-post-types/js/src/session/panel-info/duration.js
  public_html/wp-content/plugins/wc-post-types/js/src/session/panel-info/index.js
  public_html/wp-content/plugins/wc-post-types/js/src/session/panel-speakers/index.js
  public_html/wp-content/plugins/wc-post-types/js/wcb-spon.js
  public_html/wp-content/plugins/wc-post-types/package.json
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
Labels: [Component] WC-Post-Types, [Status] Ready to Merge

#436 WC Post Type: Remove protected status for `_wcpt_` meta keys
  public_html/wp-content/plugins/wc-post-types/inc/rest-api.php
Labels: [Component] WC-Post-Types, [Status] Ready to Merge

#439 Speaker Feedback: Add custom cap to speakers for viewing their own sessions
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/capabilities.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#438 Tools: Use single linter config for all workspaces
  .eslintrc.js
  .prettierrc.js
  .stylelintrc
  .travis.yml
  package.json
  public_html/wp-content/mu-plugins/blocks/package.json
  public_html/wp-content/mu-plugins/virtual-embeds/.prettierrc.js
  public_html/wp-content/mu-plugins/virtual-embeds/package.json
  public_html/wp-content/mu-plugins/virtual-embeds/style.css
  public_html/wp-content/plugins/wc-post-types/.prettierrc.js
  public_html/wp-content/plugins/wc-post-types/js/src/session/panel-info/duration.js
  public_html/wp-content/plugins/wc-post-types/package.json
  public_html/wp-content/plugins/wordcamp-forms-to-drafts/front-end.css
  public_html/wp-content/plugins/wordcamp-forms-to-drafts/package.json
  public_html/wp-content/plugins/wordcamp-forms-to-drafts/src/inert.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/package.json
Labels: [Component] Tooling, [Status] Needs Review

#445 WCPT: Remove internationalization from new site content
  public_html/wp-content/plugins/wcpt/stubs/page/code-of-conduct.php
  public_html/wp-content/plugins/wcpt/stubs/page/contact.php
  public_html/wp-content/plugins/wcpt/stubs/page/day-of-event.php
  public_html/wp-content/plugins/wcpt/stubs/page/offline.php
  public_html/wp-content/plugins/wcpt/stubs/page/organizers.php
  public_html/wp-content/plugins/wcpt/stubs/page/schedule.php
  public_html/wp-content/plugins/wcpt/stubs/page/sessions.php
  public_html/wp-content/plugins/wcpt/stubs/page/social-media-stream.php
  public_html/wp-content/plugins/wcpt/stubs/page/speakers.php
  public_html/wp-content/plugins/wcpt/stubs/page/sponsors.php
  public_html/wp-content/plugins/wcpt/stubs/page/tickets.php
  public_html/wp-content/plugins/wcpt/stubs/page/videos.php
  public_html/wp-content/plugins/wcpt/stubs/post/call-for-speakers.php
  public_html/wp-content/plugins/wcpt/stubs/post/call-for-sponsors.php
  public_html/wp-content/plugins/wcpt/stubs/post/call-for-volunteers.php
  public_html/wp-content/plugins/wcpt/stubs/post/welcome.php
Labels: [Component] WCPT, [Status] Ready to Merge

#431 Speaker Feedback: Improve flow when marking/unmarking feedback helpfulness
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/script.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-walker-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#433 Speaker Feedback: Add "inappropriate" comment status for feedback that is not spam but should not be sent to the speaker
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/admin.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-feedback-list-table.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment-meta.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#444 WCPT: Update build process, use React from `@wordpress/element`
  package.json
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/filterable-table/filterable-table.jsx
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/filterable-table/header-cell.js
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/filterable-table/header-cell.jsx
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/filterable-table/header.js
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/filterable-table/header.jsx
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/filterable-table/index.js
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/filterable-table/row.js
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/filterable-table/row.jsx
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/filterable-table/style.scss
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/filterable-table/table.js
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/filterable-table/table.jsx
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/search-field/search-field.js
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/search-field/search-field.jsx
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/sorting-indicator/sorting-indicator.js
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/sorting-indicator/sorting-indicator.jsx
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/components/sorting-indicator/style.scss
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/stores/table-store.js
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/tracker.js
  public_html/wp-content/plugins/wcpt/javascript/tracker/source/tracker.jsx
  public_html/wp-content/plugins/wcpt/package.json
  public_html/wp-content/plugins/wcpt/wcpt-event/tracker.php
  public_html/wp-content/plugins/wcpt/webpack.config.js
Labels: [Component] WCPT, [Status] Ready to Merge

#441 Speaker Feedback: Add a daily cron job to notify speakers of new feedback
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment-meta.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/cron.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/post.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#443 Speaker Feedback: Prevent feedback actions from triggering comment UI
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/admin.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/admin.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-feedback-list-table.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#449 Helpers: Add functions to check test sites, get lists of blog IDs
  public_html/wp-content/mu-plugins/3-helpers-misc.php
  public_html/wp-content/mu-plugins/wcorg-misc.php
  public_html/wp-content/plugins/wordcamp-reports/index.php
Labels: [Status] Needs Review, [Type] Enhancement

#450 Speaker Feedback: Add "Inappropriate" action to comments list table
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/admin.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/admin.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#451 Speaker Feedback: Consistently use sessions to determine start/end times of the event
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/cron.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/post.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-post.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#452 Speaker Feedback: Fix feedback table on small screens
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-feedback-list-table.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#453 Speaker Feedback: Append a feedback link to single session content
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#463 Speaker Feedback: Add visual indicator for required fields
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#465 Speaker Feedback: Update helpfulness UI
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/_variables.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/view-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge
