Repository WordPress/wordcamp.org, pull requests merged in 2020-06, with the labels that each got.

#509 Speaker Feedback: Show feedback forms to organizers even before event
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/post.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-select-sessions.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#511 Tooling: Remove `no-descending-specificity` stylelint rule
  .stylelintrc
  public_html/wp-content/mu-plugins/blocks/source/blocks/schedule/session.scss
  public_html/wp-content/plugins/wcpt/css/applications/admin.css
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
Labels: [Component] Tooling, [Status] Ready to Merge

#518 Post Types: Use correct capability checks for editing post meta
  public_html/wp-content/plugins/wc-post-types/inc/rest-api.php
Labels: [Component] WC-Post-Types, [Status] Ready to Merge

#513 Speaker Feedback: Generate stat reports
  public_html/wp-content/plugins/wordcamp-reports/classes/report/class-wordcamp-speaker-feedback.php
  public_html/wp-content/plugins/wordcamp-reports/index.php
  public_html/wp-content/plugins/wordcamp-reports/views/report/wordcamp-speaker-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/admin.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/cron.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/post.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/spam.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/stats.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#525 Disable Jetpack's automatic spam deletion if the WordCamp is in future or has ended less than month ago
  public_html/wp-content/mu-plugins/jetpack-tweaks/miscellaneous.php
Labels: [Component] Jetpack, [Status] Needs Review

#526 Helpers: Add function to check for "beta test" status
  public_html/wp-content/mu-plugins/3-helpers-misc.php
Labels: [Status] Needs Review

#530 WCPT: Add application question, is event IRL/online
  public_html/wp-content/plugins/wcpt/javascript/applications/wordcamp.js
  public_html/wp-content/plugins/wcpt/views/applications/wordcamp/shortcode-application.php
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/class-wordcamp-application.php
Labels: [Component] WCPT, [Status] Needs Review, [Type] Enhancement

#523 Central: Require login before submitting application forms and pre-fill wp.org username field
  public_html/wp-content/plugins/wcpt/css/applications/common.css
  public_html/wp-content/plugins/wcpt/views/applications/meetup/shortcode-application.php
  public_html/wp-content/plugins/wcpt/views/applications/wordcamp/shortcode-application.php
  public_html/wp-content/plugins/wcpt/wcpt-event/class-event-application.php
  public_html/wp-content/plugins/wcpt/wcpt-meetup/class-meetup-application.php
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/class-wordcamp-application.php
Labels: [Component] Central, [Status] Ready to Merge

#524 Update wcorg-login-message.php plugin
  public_html/wp-content/mu-plugins/camptix-tweaks/camptix-tweaks.php
  public_html/wp-content/mu-plugins/wcorg-login-message.php
  public_html/wp-content/plugins/wcpt/wcpt-event/class-event-application.php
  public_html/wp-content/plugins/wordcamp-forms-to-drafts/wordcamp-forms-to-drafts.php
Labels: [Component] Central, [Status] Ready to Merge

#537 WCPT: Update the wording of the Code of Conduct included in new sites
  public_html/wp-content/plugins/wcpt/stubs/page/code-of-conduct-online.php
  public_html/wp-content/plugins/wcpt/stubs/page/code-of-conduct.php
Labels: [Component] WCPT

#532 CampTix Tweaks: Invalidate attendees shortcode cache on privacy change
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/privacy.php
Labels: [Component] CampTix, [Status] Needs Review, [Type] Enhancement

#529 Speaker Feedback: Handle activate/deactivate routines across network
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Needs Review
