Repository WordPress/wordcamp.org, pull requests merged in 2020-05, with the labels that each got.

#466 Speaker Feedback: Update the feedback form question wording
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment-meta.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#470 Speaker Feedback: Don't encode post titles in plaintext emails
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/cron.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#467 Speaker Feedback: Give better information on invalid fields
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/script.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment-meta.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/package.json
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#473 Speaker Feedback: Use selectWoo for session dropdown
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/script.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#469 Speaker Feedback: Show both form and approved feedback to organizers on the front end
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-walker-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/view-feedback.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#475 Speaker Feedback: Fix toggle action when feedback is marked helpful
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/script.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-walker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#476 Speaker Feedback: Ensure feedback form & messages are in viewport
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/script.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#483 Speaker Feedback: Add a text-label for status on each feedback in "all" view
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-feedback-list-table.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#484 Speaker Feedback: Set an `og:description` for the main feedback page
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#486 Speaker Feedback: Display unapproved feedbacks in admin menu
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/admin.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/admin.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#491 WordCamp Central: Add "online" flag to virtual events in schedule and past list
  public_html/wp-content/themes/wordcamp-central-2012/style.css
  public_html/wp-content/themes/wordcamp-central-2012/template-past-wordcamps.php
  public_html/wp-content/themes/wordcamp-central-2012/template-schedule.php
Labels: [Component] Central, [Status] Needs Review

#487 Speaker Feedback: Update page content for Leave Feedback page
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#482 Remote CSS: Migrate to using a GitHub app for authentication
  composer.json
  composer.lock
  public_html/wp-content/plugins/wordcamp-remote-css/app/common.php
  public_html/wp-content/plugins/wordcamp-remote-css/app/synchronize-remote-css.php
  public_html/wp-content/plugins/wordcamp-remote-css/platforms/github.php
Labels: [Component] Remote CSS, [Status] Needs Review

#490 Speaker Feedback: Add UI for speakers to opt out of email notifications about approved feedback
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/script.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-rest-feedback-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-rest-notifications-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/cron.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/view.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-class-rest-feedback-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-class-rest-notifications-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/view-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#504 Speaker Feedback: Add a periodic email notification for organizers when there are unapproved feedback submissions
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/cron.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#495 Speaker Feedback: Add context to the sessions list
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/post.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-select-sessions.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#506 Speaker Feedback: Use the event name as the sender in notif emails
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/cron.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#507 Speaker Feedback: Add blurb about wporg account in speaker email notification
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/cron.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#503 About WordCamps page in logos section not showing properly.
  public_html/wp-content/themes/wordcamp-central-2012/style.css
Labels: [Component] Central
