Repository WordPress/wordcamp.org, pull requests merged in 2020-01, with the labels that each got.

#304 CampTix Tweaks: Fix keyboard accessibility of payment options
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/class-payment-options.php
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/css/payment-options.css
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/js/payment-options.js
Labels: [Component] CampTix, [Status] Ready to Merge

#308 Add Translators comments to explain placeholders
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix

#305 Enable Live Schedule and Live Post blocks
  public_html/wp-content/mu-plugins/blocks/blocks.php
Labels: [Component] Blocks, [Component] PWA

#241 New Sites: Add a "Day of Event" page to new sites
  public_html/wp-content/plugins/wcpt/stubs/page/day-of-event.php
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-new-site.php
Labels: [Component] Theme Templates

#313 Live Schedule: Add tests for "current session" functionality
  public_html/wp-content/mu-plugins/blocks/package.json
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/tests/__mock__/session_track.json
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/tests/__mock__/sessions.json
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/tests/index.test.js
  yarn.lock
Labels: [Component] Blocks, [Component] Tooling, [Status] Ready to Merge

#312 New Sites: Update theme activated on new sites to Twenty Twenty
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-new-site.php
Labels: [Component] Themes, [Status] Needs Decision, [Status] Ready to Merge

#299 Add end times for Session post type
  public_html/wp-content/plugins/wc-post-types/css/admin.css
  public_html/wp-content/plugins/wc-post-types/inc/rest-api.php
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
Labels: [Component] WC-Post-Types

#315 PWA: Only allow the install bar when the WordCamp is approaching/running
  public_html/wp-content/mu-plugins/service-worker-caching.php
Labels: [Component] PWA, [Status] Ready to Merge

#316 Theme Templates: Fix display issues of Offline & Day of Event templates across themes
  public_html/wp-content/mu-plugins/theme-templates/bootstrap.php
  public_html/wp-content/mu-plugins/theme-templates/templates/day-of-event.php
  public_html/wp-content/mu-plugins/theme-templates/templates/offline.php
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-new-site.php
Labels: [Component] PWA, [Component] Theme Templates, [Status] Ready to Merge

#319 Live Schedule: Update API endpoint and call to reduce bandwidth and TTFB
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/components/session.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/index.js
  public_html/wp-content/plugins/wc-post-types/inc/rest-api.php
Labels: [Component] Blocks, [Component] REST API, [Status] Ready to Merge

#329 Camptix Notify: Add `attendee_id` shortcodde for email
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix, [Status] Ready to Merge

#324 Block Live Schedule: Use duration to find currently running sessions
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/components/schedule.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/controller.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/tests/__mock__/sessions.json
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/tests/index.test.js
Labels: [Component] Blocks, [Status] Ready to Merge

#331 Miscellaneous: Add CampTix Invoices to list of plugins site owners can activate
  public_html/wp-content/mu-plugins/wcorg-misc.php
Labels: [Component] CampTix, [Status] Ready to Merge

#350 Speaker Feedback: Add base plugin file and comment type functions
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback
