Repository WordPress/wordcamp.org, pull requests merged in 2020-02, with the labels that each got.

#325 Block Live Schedule: Display sessions with no tracks
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/components/session.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/tests/__mock__/sessions-no-tracks.json
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/tests/index.test.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/style.scss
Labels: [Component] Blocks, [Status] Ready to Merge

#328 PWA: Disable Edit Flow script registration on the service worker request
  public_html/wp-content/mu-plugins/service-worker-caching.php
Labels: [Component] PWA, [Status] Ready to Merge

#352 Add infrastructure to run PHPUnit
  .docker/Dockerfile.phpunit
  .docker/bin/install-wp-tests.sh
  .docker/readme.md
  .gitignore
  .travis.yml
  composer.json
  composer.lock
  docker-compose.phpunit.yml
  phpunit-bootstrap.php
  phpunit.xml.dist
  public_html/wp-content/plugins/wordcamp-remote-css/tests/bootstrap.php
  public_html/wp-content/plugins/wordcamp-remote-css/tests/sanitized.css
  public_html/wp-content/plugins/wordcamp-remote-css/tests/unsanitized.css
Labels: [Component] Tooling, [Status] Ready to Merge

#330 Miscellaneous: Add PWA to list of plugins site owners can enable
  public_html/wp-content/mu-plugins/load-other-mu-plugins.php
  public_html/wp-content/mu-plugins/wcorg-misc.php
Labels: [Component] PWA, [Status] Ready to Merge

#354 Sponsors: Update the list of sponsors in email/page footers for 2020
  public_html/wp-content/mu-plugins/camptix-tweaks/camptix-tweaks.php
Labels: [Component] CampTix

#355 Subroles: Omit user caps that have been added via usermeta values
  phpunit-bootstrap.php
  phpunit.xml.dist
  public_html/wp-content/mu-plugins/tests/bootstrap.php
  public_html/wp-content/mu-plugins/tests/test-wcorg-subroles.php
  public_html/wp-content/mu-plugins/wcorg-subroles.php
Labels: [Component] Capabilities, [Status] Needs Review

#362 Docker: Increase the memory limit in php.ini
  .docker/Dockerfile.php-fpm
Labels: [Component] Tooling

#357 Speaker Feedback: Add main feedback page
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/css/style.css
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/script.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/form.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/page.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-select-sessions.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#359 Add feedback form pages to each session
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/script.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/form.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/form-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#348 Sessions: Save & display date using the correct timezone
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/view.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/view.php
  public_html/wp-content/mu-plugins/wcorg-json-api.php
  public_html/wp-content/plugins/wc-post-types/inc/favorite-schedule-shortcode.php
  public_html/wp-content/plugins/wc-post-types/inc/rest-api.php
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
Labels: [Component] Blocks, [Component] WC-Post-Types

#367 Speaker Feedback: Create a yarn workspace, use wp-scripts & node-sass
  .gitignore
  package.json
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/css/style.css
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/js/script.js
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/package.json
  yarn.lock
Labels: [Component] Speaker Feedback, [Component] Tooling, [Status] Ready to Merge

#363 Speaker Feedback: Respect a `speaker_feedback` skip feature flag
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#323 Application tracker: improve log section notes
  public_html/wp-content/plugins/wcpt/views/common/metabox-log.php
Labels: [Component] WCPT

#371 QBO: Make it ~possible~ easier to test in a local dev environment
  .docker/readme.md
  .docker/wp-config.php
  .gitignore
  public_html/wp-content/mu-plugins/3-helpers-misc.php
  public_html/wp-content/mu-plugins/quickbooks/includes/admin.php
  public_html/wp-content/mu-plugins/quickbooks/includes/client.php
  public_html/wp-content/mu-plugins/wcorg-misc.php
  public_html/wp-content/plugins/wcpt/wcpt-event/notification.php
  public_html/wp-content/plugins/wordcamp-qbo-client/wordcamp-qbo-client.php
Labels: [Component] Quickbooks, [Component] Tooling, [Status] Needs Review

#360 Refactor sponsor invoice update/notify system to avoid issues caused by `switch_to_blog`
  public_html/wp-content/plugins/wordcamp-payments-network/includes/sponsor-invoices-dashboard.php
Labels: [Component] Payments, [Status] Needs Review

#364 Blocks: Update packages, fix deprecations & new configurations
  public_html/wp-content/mu-plugins/blocks/.eslintrc.js
  public_html/wp-content/mu-plugins/blocks/.prettierrc.js
  public_html/wp-content/mu-plugins/blocks/package.json
  public_html/wp-content/mu-plugins/blocks/source/blocks/live-schedule/data/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/organizers/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/speaker-list.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sponsors/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls/image-size-control.js
  public_html/wp-content/mu-plugins/blocks/source/components/image/inspector-controls/index.js
  public_html/wp-content/mu-plugins/blocks/source/components/item-select/index.js
  public_html/wp-content/mu-plugins/blocks/source/data/index.js
  yarn.lock
Labels: [Component] Blocks, [Component] Tooling, [Status] Ready to Merge
