Repository WordPress/wordcamp.org, pull requests merged in 2020-03, with the labels that each got.

#361 CampTix: Improve ticket form accessibility
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/accommodations.php
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/allergy.php
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/code-of-conduct.php
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/privacy.php
  public_html/wp-content/plugins/camptix/addons/field-country.php
  public_html/wp-content/plugins/camptix/addons/field-tshirt.php
  public_html/wp-content/plugins/camptix/addons/field-url.php
  public_html/wp-content/plugins/camptix/camptix.css
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix, [Status] Ready to Merge

#353 Speaker Feedback: Register API endpoints for feedback comments
  phpunit-bootstrap.php
  phpunit.xml.dist
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-rest-feedback-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment-meta.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/bootstrap.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-class-rest-feedback-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-comment-meta.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-comment.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback

#379 Post Types: Show drafted speakers attached to sessions
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
Labels: [Component] WCPT, [Status] Ready to Merge

#381 Speaker Feedback: Clean up the bootstrap file
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Ready to Merge

#380 CampTix Invoices: Check for post type before adding custom statuses
  public_html/wp-content/plugins/camptix-invoices/camptix-invoices.php
Labels: [Component] CampTix, [Status] Ready to Merge

#383 CampTix: Prevent calling CampTixStripe.form_handler multiple times
  public_html/wp-content/plugins/camptix/camptix.js
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix, [Status] Ready to Merge

#384 Forms to Drafts: Fix login requirement on speaker application when using form block
  package.json
  public_html/wp-content/plugins/wordcamp-forms-to-drafts/front-end.css
  public_html/wp-content/plugins/wordcamp-forms-to-drafts/package.json
  public_html/wp-content/plugins/wordcamp-forms-to-drafts/src/inert.js
  public_html/wp-content/plugins/wordcamp-forms-to-drafts/wordcamp-forms-to-drafts.php
  yarn.lock
Labels: [Component] WC-Post-Types, [Status] Ready to Merge

#389 Reports: Add a Sponsor Details spreadsheet-only report
  public_html/wp-content/plugins/wordcamp-reports/classes/report/class-sponsor-details.php
  public_html/wp-content/plugins/wordcamp-reports/index.php
  public_html/wp-content/plugins/wordcamp-reports/views/report/sponsor-details.php
Labels: [Component] Reports

#386 CampTix: Add "Remote" ticket type
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/accommodations.php
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/allergy.php
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/ticket-types/remote.php
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/ticket-types/ticket-types.php
  public_html/wp-content/mu-plugins/camptix-tweaks/camptix-tweaks.php
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix, [Status] Ready to Merge

#390 CampTix: Add UI for changing attendee status
  public_html/wp-content/mu-plugins/camptix-tweaks/camptix-tweaks.php
  public_html/wp-content/plugins/camptix/admin.js
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix, [Status] Ready to Merge

#393 Payments: Add Refunded status for Sponsor Invoices
  public_html/wp-content/plugins/wordcamp-payments-network/includes/sponsor-invoices-dashboard.php
  public_html/wp-content/plugins/wordcamp-payments/includes/sponsor-invoice.php
  public_html/wp-content/plugins/wordcamp-payments/views/sponsor-invoice/metabox-status.php
Labels: [Component] Payments, [Status] Ready to Merge

#382 Add capability checks and admin UI for viewing/moderating feedback
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/admin.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/capabilities.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-feedback-list-table.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment-meta.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/query.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/bootstrap.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-capabilities.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-comment.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/edit-feedback.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#399 WCPT: Add virtual event information to WordCamps
  public_html/wp-content/plugins/wcpt/css/applications/admin.css
  public_html/wp-content/plugins/wcpt/javascript/wcpt-wordcamp/admin.js
  public_html/wp-content/plugins/wcpt/wcpt-event/class-event-admin.php
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-admin.php
Labels: [Component] WCPT, [Status] Ready to Merge

#405 Virtual Embeds: Add blocks for virtual events
  package.json
  public_html/wp-content/mu-plugins/load-other-mu-plugins.php
  public_html/wp-content/mu-plugins/virtual-embeds/.prettierrc.js
  public_html/wp-content/mu-plugins/virtual-embeds/package.json
  public_html/wp-content/mu-plugins/virtual-embeds/src/components/edit-placeholder.js
  public_html/wp-content/mu-plugins/virtual-embeds/src/crowdcast.js
  public_html/wp-content/mu-plugins/virtual-embeds/src/index.js
  public_html/wp-content/mu-plugins/virtual-embeds/src/streamtext.js
  public_html/wp-content/mu-plugins/virtual-embeds/style.css
  public_html/wp-content/mu-plugins/virtual-embeds/virtual-embeds.php
Labels: [Status] Ready to Merge

#401 Payments: Restrict status changes to be from specific statuses
  public_html/wp-content/plugins/wordcamp-payments/includes/sponsor-invoice.php
Labels: [Component] Payments, [Status] Ready to Merge

#406 Speaker Feedback: Check submissions for spam, duplicates
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/class-rest-feedback-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment-meta.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/comment.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/includes/spam.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-class-rest-feedback-controller.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-comment.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/tests/test-spam.php
  public_html/wp-content/plugins/wordcamp-speaker-feedback/wordcamp-speaker-feedback.php
Labels: [Component] Speaker Feedback, [Status] Needs Review

#409 WCPT: Work around "Physical Address" requirement for online events
  public_html/wp-content/plugins/wcpt/wcpt-event/class-event-admin.php
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-admin.php
Labels: [Component] WCPT, [Status] Ready to Merge

#410 WCPT: Add fields to wordcamp endpoint for online events
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-loader.php
Labels: [Component] Events Widget, [Component] WCPT, [Status] Ready to Merge
