Repository WordPress/wordcamp.org, pull requests merged in 2020-09, with the labels that each got.

#545 Add "In Progress" status to Planning Checklist
  public_html/wp-content/plugins/wordcamp-mentors/includes/tasks-data.php
  public_html/wp-content/plugins/wordcamp-mentors/includes/tasks.php
Labels: [Type] Enhancement

#570 Participation: Sync badge status when the user ID field changes
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
  public_html/wp-content/plugins/wordcamp-participation-notifier/wordcamp-participation-notifier.php
Labels: [Component] Participation Notifier, [Status] Ready to Merge

#568 Format local dates instead of converting a second time
  public_html/wp-content/mu-plugins/blocks/source/blocks/schedule/data.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/schedule/inspector-controls.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/schedule/schedule-grid.js
Labels: [Component] Blocks, [Status] Blocked, [Type] Bug
