Repository WordPress/wordcamp.org, pull requests merged in 2022-03, with the labels that each got.

#741 Tools: Update npm and composer packages
  .eslintrc.js
  .stylelintrc
  composer.lock
  package.json
  public_html/wp-content/mu-plugins/blocks/package.json
  public_html/wp-content/mu-plugins/virtual-embeds/package.json
  public_html/wp-content/plugins/multi-event-sponsors/package.json
  public_html/wp-content/plugins/multi-event-sponsors/webpack.config.js
  public_html/wp-content/plugins/wc-post-types/package.json
  public_html/wp-content/plugins/wcpt/package.json
  public_html/wp-content/plugins/wordcamp-forms-to-drafts/package.json
  public_html/wp-content/plugins/wordcamp-speaker-feedback/assets/scss/style.scss
  public_html/wp-content/plugins/wordcamp-speaker-feedback/package.json
  yarn.lock
Labels: [Component] Tooling

#742 Blocks: Add a "Speaker Sessions" block for use in Query Loop
  public_html/wp-content/mu-plugins/blocks/blocks.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/sessions/utils.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speaker-sessions/block.json
  public_html/wp-content/mu-plugins/blocks/source/blocks/speaker-sessions/controller.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/speaker-sessions/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speaker-sessions/edit.scss
  public_html/wp-content/mu-plugins/blocks/source/blocks/speaker-sessions/index.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/controller.php
  public_html/wp-content/mu-plugins/blocks/source/blocks/speakers/speaker-list.js
Labels: [Component] Blocks

#727 Don't suffix the year to the WordCamp name if the year exists within the WordCamp name already.
  public_html/wp-content/mu-plugins/4-helpers-wcpt.php
Labels: [Type] Enhancement, [Priority] 3, [Component] Central, [Component] SEO

#747 Jetpack tweaks: Update to CSSTidy allowed properties
  public_html/wp-content/mu-plugins/jetpack-tweaks/css-sanitization.php
  public_html/wp-content/plugins/wordcamp-remote-css/tests/sanitized.css
  public_html/wp-content/plugins/wordcamp-remote-css/tests/unsanitized.css
Labels: [Component] Jetpack

#724 Improve UX for disabled application popup
  public_html/wp-content/plugins/wcpt/css/applications/common.css
Labels: [Priority] 1, [Component] WCPT
