Repository WordPress/wordcamp.org, pull requests merged in 2023-10, with the labels that each got.

#1074 Jetpack Tweaks: Enable jetpack forms package
  public_html/wp-content/mu-plugins/jetpack-tweaks/miscellaneous.php
Labels: [Component] Jetpack

#1059 Add city@wordcamp dot org as a recipient of invoice emails
  public_html/wp-content/plugins/wordcamp-payments-network/includes/sponsor-invoices-dashboard.php
Labels: [Priority] 2, [Status] Needs Review, [Component] Payments

#963 Tell the site administrators to use the WordPress.org account information when adding new users
  public_html/wp-content/mu-plugins/wcorg-misc.php
Labels: [Priority] 1, [Status] Ready to Merge

#967 Fix missing logo on visa letters
  public_html/wp-content/plugins/wordcamp-docs/classes/class-wordcamp-docs-pdf-generator.php
Labels: [Priority] 1, [Status] Needs Review, [Component] Docs

#1052 Pre-fill sponsor agreement details from sponsor CPT
  public_html/wp-content/plugins/wordcamp-docs/classes/class-wordcamp-docs.php
  public_html/wp-content/plugins/wordcamp-docs/templates/sponsorship-agreement.php
Labels: [Priority] 1, [Status] Needs Review, [Component] Docs

#719 Add new default Jetpack modules
  public_html/wp-content/mu-plugins/jetpack-tweaks/modules.php
Labels: [Status] Needs Review, [Component] Jetpack

#973 Prevent broken Tickets pages when tickets have been sold
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Priority] 2, [Status] Needs Review, [Component] CampTix

#1055 Automatically disable Attendance UI
  public_html/wp-content/plugins/camptix-attendance/addons/attendance.php
Labels: [Priority] 3, [Status] Needs Review, [Component] CampTix

#1064 Show empty tickets with "sold out" message
  public_html/wp-content/mu-plugins/camptix-tweaks/camptix-tweaks.php
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Priority] 4, [Status] Needs Review, [Component] CampTix

#1085 Fix memory usage on t-shirt cache prime
  public_html/wp-content/plugins/camptix/addons/field-tshirt.php
Labels: [Component] CampTix
