Repository WordPress/wordcamp.org, pull requests merged in 2023-03, with the labels that each got.

#845 Add swag store link to receipts
  public_html/wp-content/mu-plugins/camptix-tweaks/camptix-tweaks.php
Labels: [Component] CampTix

#849 Update Code of Conduct text
  public_html/wp-content/plugins/wcpt/stubs/page/code-of-conduct-online.php
  public_html/wp-content/plugins/wcpt/stubs/page/code-of-conduct.php
Labels: [Component] WCPT

#851 Blocks: Check for post context values before using data
  public_html/wp-content/mu-plugins/blocks/source/blocks/meta-link/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/session-date/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/session-speakers/edit.js
  public_html/wp-content/mu-plugins/blocks/source/blocks/speaker-sessions/edit.js
Labels: [Component] Themes & Customization, [Component] Blocks

#754 Add a Sessions List variation on the Query Loop block, with custom sort order
  public_html/wp-content/mu-plugins/blocks/blocks.php
  public_html/wp-content/mu-plugins/blocks/source/blocks.js
  public_html/wp-content/mu-plugins/blocks/source/variations/index.js
  public_html/wp-content/mu-plugins/blocks/source/variations/sessions-list/controller.php
  public_html/wp-content/mu-plugins/blocks/source/variations/sessions-list/index.js
  public_html/wp-content/mu-plugins/blocks/source/variations/sessions-list/order-control.js
  public_html/wp-content/plugins/wc-post-types/inc/rest-api.php
Labels: [Component] Blocks, [Status] On Hold

#857 Switch gallery images to use alt and title fields
  public_html/wp-content/themes/wordcamp-central-2012/header.php
Labels: [Type] Enhancement, [Component] Central

#860 Docs: Add the Termination clause to the Sponsorship Agreement
  public_html/wp-content/plugins/wordcamp-docs/templates/sponsorship-agreement.php
Labels: [Component] Docs
