Repository WordPress/wordcamp.org, pull requests merged in 2023-06, with the labels that each got.

#880 Block Patterns: Add general block patterns
  public_html/wp-content/mu-plugins/blocks/patterns/header-centered-with-menu.php
  public_html/wp-content/mu-plugins/blocks/patterns/header-with-button.php
  public_html/wp-content/mu-plugins/blocks/patterns/hero-cover-bottom-left.php
  public_html/wp-content/mu-plugins/blocks/patterns/hero-cover-center-left.php
  public_html/wp-content/mu-plugins/blocks/patterns/hero-cover-centered.php
  public_html/wp-content/mu-plugins/blocks/patterns/hero-cover-top-left.php
Labels: [Component] Themes & Customization, [Component] Blocks

#890 Coding standards: Fix or disable lint checks for budget files
  public_html/wp-content/plugins/wordcamp-payments/includes/budget-tool.php
  public_html/wp-content/plugins/wordcamp-payments/javascript/budget-tool.js
  public_html/wp-content/plugins/wordcamp-payments/views/budget-tool/main.php
Labels: [Component] Payments

#882 Payments: Add a button to download budget CSV
  public_html/wp-content/plugins/wordcamp-payments/includes/budget-tool.php
  public_html/wp-content/plugins/wordcamp-payments/views/budget-tool/main.php
Labels: [Component] Payments

#914 Fix contact form usage
  public_html/wp-content/mu-plugins/jetpack-tweaks/miscellaneous.php
Labels: [Component] Jetpack

#925 Prevent Camptix DB log overflow
  public_html/wp-content/plugins/camptix/admin.css
Labels: [Priority] 3, [Status] Needs Review, [Component] CampTix, [Status] Ready to Merge, [Type] UX Improvement
