Repository WordPress/wordcamp.org, pull requests merged in 2023-09, with the labels that each got.

#1022 Add Sponsor Tickets
  public_html/wp-content/plugins/wordcamp-payments/css/wordcamp-budgets.css
  public_html/wp-content/plugins/wordcamp-payments/includes/budget-tool.php
  public_html/wp-content/plugins/wordcamp-payments/includes/wordcamp-budgets.php
  public_html/wp-content/plugins/wordcamp-payments/javascript/budget-tool.js
  public_html/wp-content/plugins/wordcamp-payments/views/budget-tool/main.php
Labels: [Component] Payments

#1021 Only show pay by check/ACH when the US is selected
  public_html/wp-content/plugins/wordcamp-payments/includes/payment-request.php
  public_html/wp-content/plugins/wordcamp-payments/includes/privacy.php
  public_html/wp-content/plugins/wordcamp-payments/includes/wordcamp-budgets.php
  public_html/wp-content/plugins/wordcamp-payments/javascript/payment-requests.js
  public_html/wp-content/plugins/wordcamp-payments/javascript/reimbursement-requests.js
  public_html/wp-content/plugins/wordcamp-payments/javascript/wordcamp-budgets.js
  public_html/wp-content/plugins/wordcamp-payments/views/payment-request/input-radio.php
  public_html/wp-content/plugins/wordcamp-payments/views/payment-request/metabox-payment.php
Labels: [Component] Payments

#1001 Add help text blurb to front end feedback view for speakers
  public_html/wp-content/plugins/wordcamp-speaker-feedback/views/view-feedback.php
Labels: [Priority] 1, [Status] Ready to Merge, [Component] Speaker Feedback

#946 Prevent leaks from tagline when on Coming Soon mode
  public_html/wp-content/plugins/wordcamp-coming-soon-page/classes/wordcamp-coming-soon-page.php
Labels: [Component] Coming Soon, [Status] Ready to Merge

#1000 Add sponsor level to listing, add sponsorship amount and currency meta fields and to listing
  public_html/wp-content/plugins/wc-post-types/views/sponsors/metabox-sponsor-info.php
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
Labels: [Priority] 1, [Component] WC-Post-Types, [Status] Ready to Merge

#962 Move password reset hooks to more logical place
  public_html/wp-content/mu-plugins/wcorg-login-message.php
  public_html/wp-content/mu-plugins/wcorg-misc.php
Labels: [Status] Ready to Merge

#944 Expose AV Wrangler Name on WordCamp API
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-loader.php
Labels: [Status] Ready to Merge, [Component] REST API

#950 Prevent users from creating new WordCamp and Meetup posts on central dashboard
  public_html/wp-content/plugins/wcpt/wcpt-event/class-event-admin.php
Labels: [Component] WCPT, [Component] Capabilities, [Status] Ready to Merge

#1057 Add security policy
  .github/SECURITY.md
Labels: [Priority] 3, [Component] Tooling, [Status] Ready to Merge

#1065 i18n numbered placeholders for notify_applicant_application_received
  public_html/wp-content/plugins/wcpt/wcpt-event/class-event-application.php
Labels: [Priority] 4, [Status] Needs Review, [Component] WCPT
