Repository WordPress/wordcamp.org, pull requests merged in 2024-02, with the labels that each got.

#1244 Add label for required city field
  public_html/wp-content/plugins/wcpt/views/applications/events/shortcode-application.php
Labels: [Component] WCPT

#1024 WC Central Theme: Fixing some CSS responsive issues
  public_html/wp-content/themes/wordcamp-central-2012/style.css
Labels: [Status] Needs Review, [Component] Central

#722 Add default empty select on Camptix country field
  public_html/wp-content/plugins/camptix/addons/field-country.php
Labels: [Status] Needs Review, [Component] CampTix

#1054 Add reimbursement request total and expense buildup columns to list view
  public_html/wp-content/plugins/wordcamp-payments/includes/reimbursement-request.php
Labels: [Priority] 1, [Status] Needs Review, [Component] Payments

#1253 Fix default application user
  public_html/wp-content/plugins/wcpt/wcpt-events/class-events-application.php
Labels: [Component] WCPT

#1254 Jetpack Tweaks: Add extra spam checks for contact form submissions
  public_html/wp-content/mu-plugins/jetpack-tweaks/miscellaneous.php
Labels: [Component] Jetpack

#1257 Camptix Network Tools: Better logging table schema
  public_html/wp-content/plugins/camptix-network-tools/camptix-network-tools.php
Labels: [Type] Enhancement, [Component] CampTix, [Component] Performance
