Repository WordPress/wordcamp.org, pull requests merged in 2024-03, with the labels that each got.

#1256 Stripe: Check if transaction actually completed before setting as timeout.
  public_html/wp-content/plugins/camptix/addons/payment-stripe.php
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Type] Bug, [Component] CampTix

#1261 Bump MYSQL version to 8.0
  .docker/Dockerfile.mysql
Labels: [Component] Tooling

#1262 Camptix: Harden against junk input
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix
