Repository WordPress/wordcamp.org, pull requests merged in 2024-08, with the labels that each got.

#1355 Quickbook: change token output to be in readable format
  public_html/wp-content/mu-plugins/quickbooks/includes/client.php
  public_html/wp-content/mu-plugins/quickbooks/views/admin.php
Labels: [Component] Quickbooks

#1358 Update payment-stripe.php
  public_html/wp-content/plugins/camptix/addons/payment-stripe.php
Labels: [Component] CampTix

#1275 test: add unit test for the camptix stripe addon
  public_html/wp-content/plugins/camptix/tests/addons/test-payment-stripe.php
Labels: [Component] CampTix, [Priority] Low, [Type] Enhancement

#1359 Event’s data update Aug 2024 for the landing page of events.wordpress.org
  public_html/wp-content/themes/wporg-events-2023/patterns/front-cover.php
Labels: [Priority] Medium, NextGen Events, [Type] Enhancement

#1360 Update quickbooks.php
  public_html/wp-content/mu-plugins/quickbooks/quickbooks.php
Labels: [Component] Quickbooks

#1350 Allow doaction.org URLs for events
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-new-site.php
Labels: [Component] WCPT, [Priority] High, [Type] Enhancement

#1365 Update quickbooks.php
  public_html/wp-content/mu-plugins/quickbooks/quickbooks.php
Labels: [Component] Quickbooks
