Repository WordPress/wordcamp.org, pull requests merged in 2024-05, with the labels that each got.

#1268 Update fields in events application
  public_html/wp-content/plugins/wcpt/wcpt-events/class-events-application.php
Labels: [Component] WCPT, [Type] UX, [Priority] Medium, [Type] Enhancement

#1056 Include sharable link in "favorite sessions" email
  composer.lock
  public_html/wp-content/plugins/wc-post-types/inc/favorite-schedule-shortcode.php
  public_html/wp-content/plugins/wc-post-types/inc/rest-api.php
  public_html/wp-content/plugins/wc-post-types/js/favourite-sessions.js
Labels: [Type] Good First Issue, [Component] WC-Post-Types, [Priority] Medium, [Type] Enhancement

#720 Add question about having Contributor Day to WordCamp application
  public_html/wp-content/plugins/wcpt/views/applications/wordcamp/shortcode-application.php
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/class-wordcamp-application.php
Labels: [Component] WCPT, [Priority] Medium, [Type] Enhancement

#1312 Add style.css
  public_html/wp-content/themes/wporg-events-2023/style.css
Labels: [Component] Themes & Customization

#1278 Replace 'country_of_residency' with 'passport_issuing_country'
  public_html/wp-content/plugins/wordcamp-docs/templates/attendee-visa.php
  public_html/wp-content/plugins/wordcamp-docs/templates/speaker-visa.php
  public_html/wp-content/plugins/wordcamp-docs/templates/sponsorship-agreement.php
Labels: [Component] Docs, [Priority] Medium

#994 WC Post Types, Blocks: Add support for private speakers & sessions
  public_html/wp-content/mu-plugins/blocks/source/blocks/speaker-sessions/controller.php
  public_html/wp-content/plugins/wc-post-types/inc/rest-api.php
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
Labels: [Component] Blocks, [Component] WC-Post-Types, [Priority] Medium

#1051 New reimbursement request and vendor payments status and notes functionality
  public_html/wp-content/plugins/wordcamp-payments-network/includes/payment-requests-dashboard.php
  public_html/wp-content/plugins/wordcamp-payments-network/includes/payment-requests-list-table.php
  public_html/wp-content/plugins/wordcamp-payments-network/includes/reimbursement-requests-dashboard.php
  public_html/wp-content/plugins/wordcamp-payments/includes/payment-request.php
  public_html/wp-content/plugins/wordcamp-payments/includes/reimbursement-request.php
  public_html/wp-content/plugins/wordcamp-payments/includes/wordcamp-budgets.php
  public_html/wp-content/plugins/wordcamp-payments/views/reimbursement-request/metabox-notes.php
  public_html/wp-content/plugins/wordcamp-payments/views/wordcamp-budgets/metabox-notes-private.php
  public_html/wp-content/plugins/wordcamp-payments/views/wordcamp-budgets/metabox-notes.php
Labels: [Type] Good First Issue, [Component] Payments, [Priority] High, [Type] Feature Request

#1321 Fix always show "the link you followed has expired" error page
  public_html/wp-content/plugins/wordcamp-payments-network/includes/payment-requests-dashboard.php
  public_html/wp-content/plugins/wordcamp-payments-network/includes/payment-requests-list-table.php
  public_html/wp-content/plugins/wordcamp-payments/includes/reimbursement-request.php
  public_html/wp-content/plugins/wordcamp-payments/includes/wordcamp-budgets.php
  public_html/wp-content/plugins/wordcamp-payments/views/reimbursement-request/metabox-notes.php
  public_html/wp-content/plugins/wordcamp-payments/views/wordcamp-budgets/metabox-notes.php
Labels: [Type] Bug

#1323 Update 'The organizing team' aiding text under Reminder Details of Organizer Reminder
  public_html/wp-content/plugins/wordcamp-organizer-reminders/views/metabox-reminder-details.php
Labels: [Priority] Medium

#1325 Fix exchange rate issue with automated invoicing in qbo
  composer.json
  composer.lock
  public_html/wp-content/plugins/wordcamp-qbo/wordcamp-qbo.php
Labels: [Type] Bug, [Component] Payments, [Priority] High
