Repository WordPress/wordcamp.org, pull requests merged in 2024-10, with the labels that each got.

#1386 Camptix tweak: adjust filters to provide a dropdown for ticket type
  phpcs.xml.dist
  public_html/wp-content/mu-plugins/camptix-tweaks/camptix-tweaks.php
Labels: [Component] CampTix

#1390 Show unconfirmed attendees
  public_html/wp-content/plugins/camptix/addons/require-login.php
Labels: [Component] CampTix

#1391 Remove todo
  public_html/wp-content/mu-plugins/camptix-tweaks/camptix-tweaks.php
Labels: [Component] CampTix

#1392 Order by ID DESC
  public_html/wp-content/plugins/camptix-network-tools/camptix-network-tools.php
Labels: [Component] CampTix

#1395 Reduce log messages
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix

#1401 Remove required field restriction
  public_html/wp-content/plugins/camptix/camptix.js
Labels: [Component] CampTix

#1394 WC Post Types: Fix timezone offset when sessions happen after DST
  public_html/wp-content/plugins/wc-post-types/css/editor.css
  public_html/wp-content/plugins/wc-post-types/js/src/components/date-control/index.js
  public_html/wp-content/plugins/wc-post-types/package.json
  yarn.lock
Labels: [Component] WC-Post-Types

#1409 CampTix Indian Payments: Use form context for phone validation
  public_html/wp-content/plugins/campt-indian-payment-gateway/assets/js/camptix-multi-popup.js
  public_html/wp-content/plugins/campt-indian-payment-gateway/campt-indian-payment-gateway.php
Labels: [Component] CampTix

#1413 Allow skipping validation on URL
  public_html/wp-content/plugins/wordcamp-reports/classes/report/class-wordcamp-counts.php
Labels: [Component] Reports

#1416 Alter application emails to include link to WC Central
  public_html/wp-content/plugins/wcpt/wcpt-event/class-event-application.php
  public_html/wp-content/plugins/wcpt/wcpt-events/class-events-application.php
  public_html/wp-content/plugins/wcpt/wcpt-meetup/class-meetup-application.php
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/class-wordcamp-application.php
Labels: [Component] WCPT

#1422 Update class-event-application.php
  public_html/wp-content/plugins/wcpt/wcpt-event/class-event-application.php
Labels: [Component] WCPT

#1424 Camptix stats: move ticket viewing stat to separate option
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix
