Repository WordPress/wordcamp.org, pull requests merged in 2024-04, with the labels that each got.

#1284 Fix composer install failure during environment setup
  .docker/bin/entrypoint.sh
  .docker/bin/extra-setup.sh
  .docker/config/composer.json
  .docker/readme.md
  composer.json
  composer.lock
  docker-compose.yaml
  yarn.lock
Labels: [Type] Bug

#1274 Allow cron to update post_status
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-admin.php
Labels: [Type] Bug, [Priority] High

#1294 Update past events template to align with design
  public_html/wp-content/themes/wporg-events-2023/templates/page-past-events.html
Labels: [Priority] High, NextGen Events

#1290 Transparency Report email automation
  public_html/wp-content/plugins/wcpt/wcpt-wordcamp/wordcamp-admin.php
  public_html/wp-content/plugins/wordcamp-organizer-reminders/tests/test-wcor-mailer.php
  public_html/wp-content/plugins/wordcamp-organizer-reminders/views/metabox-reminder-details.php
  public_html/wp-content/plugins/wordcamp-organizer-reminders/wcor-mailer.php
  public_html/wp-content/plugins/wordcamp-organizer-reminders/wcor-reminder.php
Labels: [Component] WCPT, [Component] Central, [Priority] Medium, [Type] Feature Request

#1053 Send copy of call for speakers email to the speaker itself
  public_html/wp-content/plugins/wordcamp-forms-to-drafts/wordcamp-forms-to-drafts.php
Labels: [Component] WC-Post-Types, Migrated from Trac, [Priority] High

#970 Do not send organiser reminders with "send X days after the camp ends" trigger if WordCamp didn't happen
  public_html/wp-content/plugins/wordcamp-organizer-reminders/tests/test-wcor-mailer.php
  public_html/wp-content/plugins/wordcamp-organizer-reminders/wcor-mailer.php
Labels: [Type] Bug, [Component] Organizer Reminders, [Priority] Medium

#990 Allow bypassing max ticket limit when using coupon code
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix, [Priority] Medium, [Type] Enhancement

#992 Add filters to dashboard attendee list to show with severe allergy and accessibility needs
  public_html/wp-content/mu-plugins/camptix-tweaks/camptix-tweaks.php
Labels: [Component] CampTix, [Priority] Medium, [Type] Enhancement
