Repository WordPress/wordcamp.org, pull requests merged in 2024-01, with the labels that each got.

#1198 Update readme.md
  .docker/readme.md
Labels: [Component] Tooling

#1211 Update shortcodes.php
  public_html/wp-content/plugins/camptix/addons/shortcodes.php
Labels: [Component] CampTix

#1192 Add Events shortcode
  public_html/wp-content/plugins/wcpt/css/applications/events.css
  public_html/wp-content/plugins/wcpt/views/applications/events/shortcode-application.php
  public_html/wp-content/plugins/wcpt/wcpt-events/class-events-application.php
  public_html/wp-content/plugins/wcpt/wcpt-events/events.php
  public_html/wp-content/plugins/wcpt/wcpt-loader.php
Labels: [Component] WCPT, [Component] Central

#1213 Update shortcode-application.php
  public_html/wp-content/plugins/wcpt/views/applications/events/shortcode-application.php
Labels: [Component] WCPT

#1226 Fonts: Add custom fonts for WordCamp Asia
  public_html/wp-content/plugins/wc-fonts/wc-fonts.php
Labels: [Type] Bug, [Component] Fonts

#1232 Add logic to get additional fields
  public_html/wp-content/plugins/wcpt/wcpt-events/class-events-application.php
Labels: [Component] WCPT

#1228 Migrate to the new Stripe API
  public_html/wp-content/mu-plugins/camptix-tweaks/addons/class-payment-options.php
  public_html/wp-content/mu-plugins/utilities/class-stripe-client.php
  public_html/wp-content/plugins/camptix/addons/payment-stripe.php
  public_html/wp-content/plugins/camptix/camptix.js
  public_html/wp-content/plugins/wordcamp-payments/includes/sponsor-payment-stripe.php
  public_html/wp-content/plugins/wordcamp-payments/views/sponsor-payment/main.php
Labels: [Component] CampTix, [Component] Payments
