Repository WordPress/wordcamp.org, pull requests merged in 2024-09, with the labels that each got.

#1370 Mu-plugins: Fix deprecation in block template content injection.
  public_html/wp-content/mu-plugins/theme-templates/bootstrap.php
Labels: [Type] Bug

#1374 Remove pdf option
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix

#1375 Add site info the export filename
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix

#1376 Make 100 max discount percentage
  public_html/wp-content/plugins/camptix/camptix.php
Labels: [Component] CampTix

#1378 Adjust meetup column output
  public_html/wp-content/plugins/wcpt/wcpt-meetup/class-meetup-admin.php
Labels: [Component] WCPT
