Repository WordPress/wordcamp.org, pull requests merged in 2025-06, with the labels that each got.

#1486 Use 'Pay' in the Stripe checkout, as 'Book' can be translated to mean "Reserve a hotel"
  public_html/wp-content/plugins/camptix/addons/payment-stripe.php
Labels: [Component] CampTix

#1499 Config: Add the missing "CAMPUS_NETWORK_ID" to prevent PHP warning on docker
  .docker/wp-config.php
Labels: [Component] Tooling

#1498 Post Types: Fix term conflict on "teams" for Organizers, Volunteers
  public_html/wp-content/plugins/wc-post-types/wc-post-types.php
Labels: [Component] WC-Post-Types

#1497 Blocks: Bring back display settings for custom post type blocks
  public_html/wp-content/mu-plugins/blocks/source/variations/organizers-list/index.js
  public_html/wp-content/mu-plugins/blocks/source/variations/sessions-list/index.js
  public_html/wp-content/mu-plugins/blocks/source/variations/speakers-list/index.js
  public_html/wp-content/mu-plugins/blocks/source/variations/sponsors-list/index.js
Labels: [Component] Blocks, [Component] WC-Post-Types

#1503 Reports: Update meetup report to use new Meetup API.
  public_html/wp-content/plugins/wordcamp-reports/classes/report/class-meetup-events.php
Labels: [Component] Reports
